.form--label {
  font-weight: 200;
  color: #A2A2A2;
  margin-bottom: 1em;
  font-size: 16px;
}

.form--field {
  font-weight: 200;
  font-size: 22px;
  color: #616672;
}

.form--read-only {
  width: 50%;
}
