.flat-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 1em 2em;
  box-shadow: none;
  display: inline-block;
  margin-right: 20px;
}

.trial-button {
  background-color: #8dc63f;
}

.demonstration-button {
  background-color: #3d4351;
}

@media only screen and ( max-width: 720px ) {
  .flat-button {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
}

@media only screen and ( max-width: 485px ) {
  .flat-button {
    width: 200px;
  }
}
