.overlay-container {
  z-index: 0;
  height: 300px;
  position: relative;
  text-align: left;
  background: #3d4351;
  padding-top: 6em;
  padding-bottom: 6em;
  padding: 10% 0;
}

.overlay-image {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.overlay-image:after {
  content: '';
  z-index: 10;
  position: absolute;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url( /images/backdrop3.jpg );
  background-position: center;
  background-repeat: no-repeat;
}

.overlay-header {
  color: #fff;
  z-index: 20;
  font-family: 'Kanit', sans-serif;
  font-size: 28px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 40px;
}

.overlay-header a {
  font-size: 14px;
  width: 260px;
  font-weight: bold;
  letter-spacing: 1px;
}

.overlay-heading {
  font-size: 1.5em;
  margin: 0px;
}

.overlay-header-text {
  margin-bottom: .5em;
  padding: 0 5px;
}

.overlay-message {
  font-size: .8em;
}

@media only screen and ( max-width: 1800px ) {
  .overlay-image {
    width: 100%;
    margin: auto;
  }
}

@media only screen and ( max-width: 720px ) {
  .overlay-header {
    font-size: 26px;
    text-align: center;
    padding: 0px;
  }

  .overlay {
    padding: 1em;
  }

  .overlay-header a {
    margin-bottom: 10px;
  }
}

@media only screen and ( max-width: 485px ) {
  .overlay-image {
    max-height: 360px;
  }

  .overlay-container {
    height: 250px;
  }

  .overlay-header {
    width: 300px;
    margin: 0 auto;
    font-size: 22px;
  }

  .overlay-heading {
    width: 250px;
    margin: 0px;
    justify-content: center;
    padding: 0em 1em;
    font-size: 26px;
  }
}
