.widget {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #2a2a2a;
}

.widget-width-1 {
  width: 230px;
}

.widget-height-1 {
  height: 230px;
}

.widget-body {
  padding: 16px 14px;
}

header {
  height: 23px;
  padding: 12px 14px 6px 14px;
  top: 0;
  background-color: #4d4f50;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

.body-text {
  font-size: 1.4em;
}
