.dash-main {
  background-color: #101214;
  color: #eee;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0px;
  padding: 0;
  position: relative;
}

.dash-main h1 {
  padding: 10px;
  margin-top: 0;
}

.build-dashboard {
  position: absolute;
}

.chat-icon {
  max-height: 60px;
  max-width: 60px;
  min-height: 60px;
  min-width: 60px;
  background-color: #777;
  border-radius:100px;
  position:absolute;
  bottom: 125px;
  right: 20px;
}

.chat-icon img {
  position:absolute;
  top:15px;
  left: 15px;
}