.dash-nav {
  background-color: #24272A;
  color: #ccc;
  margin: 0;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.dash-nav-right {
  padding-right: 40px;

}

.dashboard-menu {
  padding-left: 5px;
}

.widget-nav-button {
  background-color: #8dc63f;
  margin-right: 20px;
}
