.home-nav {
  z-index: 1;
}

.home-nav a {
  text-decoration: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.home-nav-menu a {
  color: #9da0a7;
}

.home-nav a:hover {
  cursor: pointer;
  color: #fff;
}

.nav-container {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3d4351;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 0 14px 0;
  width: 210px;
  height: 36px;
}

.logo-green-square {
  background-color: #8dc63f;
  height: 33px;
  width: 33px;
  min-width: 33px;
  display: flex;
  align-items: center;
}

.logo-green-square div {
  font-size: 2em;
  color: #fff;
  font-weight: 200;
}

.logo img {
  max-height: 35px;
}

.logo-type {
  margin-left: 10px;
  max-height: 15px !important;
}

.home-nav-right{
  flex-grow: 1;
}

.home-nav-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  max-height: 64px;
  overflow: hidden;
}
.home-nav-menu a {
  margin-left: 10px;
}

.home-nav-menu a {
  margin-left: 10px;
}

.nav-dropdown span {
  display: block;
}

@media only screen and (max-width: 720px) {
  [class*="home-nav-right"] {
    visibility: hidden;
  }
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.home-nav-dropdown {
  position: absolute;
  background-color: #fff;
  min-width:100px;
  z-index: 10;
}

.home-nav-dropdown ul {
  z-index:11;
}
.home-nav-dropdown ul li{
  z-index:12;
}

.login-nav {
  color: #fff !important;
}

.demo-button {
  color: #8dc63f !important;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
}

.home-nav-dropdown {
  position: absolute;
  background-color: #fff;
  min-width:100px;
  z-index: 10;
}

.home-nav-dropdown ul {
  z-index:11;
}
.home-nav-dropdown ul li{
  z-index:12;
}

.login-nav {
  color: #fff !important;
}

.demo-button {
  color: #8dc63f !important;
  margin-right: 10px;
}

.nav-trial-button {
  max-height: 38px;
  padding: 5px 10px !important;
  background-color: #8dc63f;
}

@media only screen and (max-width: 720px) {
  [class*="home-nav-right"] {
    visibility: hidden;
  }
}

.nav-dropdown {
  position: relative;
}

.sub-nav {
  position: absolute;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #9da0a7;
  border-radius: 4px;
  margin: 0 auto;
  width: 240px;
  top: 58px;
  left: 50%;
  margin-left: -120px;
  box-shadow: 0px 3px 3px 0px;
  z-index: 9999;
  text-align: center;
  padding-left: 0;
  display: none;
}

.nav-dropdown:hover > .sub-nav {
  display: block;
}
