.more-triangle {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid ;
  max-width: 0px;
  max-height: 0px;
  position: relative;
  display: inline;
  top: 2px;
  z-index: 15;
  margin-left: 3px;
}

.nav-dropdown {
  position: relative;
  display: inline-block;
  margin-right: -15px;
}

.nav-dropdown div a {
  transition: color 0.3s ease;
  color: #9da0a7;
  margin-left: 23px
}

.nav-dropdown div a:hover {
  color: #fff;
}

.nav-dropdown span {
  display: block;
}

.nav-dropdown div {
  margin-right: 10px
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown:hover > .sub-nav {
  display: block;
}

.home-nav-dropdown {
  position: absolute;
  background-color: #fff;
  min-width: 100px;
  z-index: 10;
  border-radius: 3px;
  right: 458px;
  top: 58px;
  box-shadow: 0 0 10px rgba( 0,0,0,.1 );
  transition: all .2s ease-in-out;
}

.home-nav-dropdown ul {
  z-index: 11;
}

.home-nav-dropdown ul li {
  list-style: none;
  z-index: 12;
  text-align: center;
  justify-content: center;
  padding: 15px 10px;
  font-size: .9em;
}

.home-nav-dropdown ul li a {
  color: #888;
  font-weight: 600;
  padding: 0px;
  margin: 0px;
}

.home-nav-dropdown ul li a:hover {
  color: #333;
}

.home-nav-dropdown ul li:not( :last-child ) {
  border-bottom: solid 1px #ccc;
}

.home-nav-dropdown-content {
  padding: 0px;
  margin: 0px;
}

.home-nav-dropdown {
  position: absolute;
  background-color: #fff;
  min-width:100px;
  z-index: 10;
}

.home-nav-dropdown ul {
  z-index:11;
}

.home-nav-dropdown ul li{
  z-index:12;
}
