@media only screen and (max-width: 720px) and (max-width: 1800px) {
  .home-main {
    width: 100%;
    margin: auto;
  }
}

.home-page {
  font-family: 'Questrial', sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
}

.home-page-logo {
  height: 80px;
}

.home-page-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.home-page-intro {
  font-size: large;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

::selection {
  background-color: #8dc63f;
  color: #000;
}
