.overlay {
  padding-top: 9em;
  padding-bottom: 9em;
  min-height: 207px;
}

.overlay-img {
  background-image: url(https://www.learnersguild.org/images/photo2.jpg);
  background-position: center;
  opacity: 0.4;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 495px;
  top: 64px;
  left: 0;
  margin: auto;
}

@media only screen and (max-width: 1800px) {
    /* For mobile phones: */
    [class*="overlay-img"] {
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    [class*="overlay-header"] {
        width: 600px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        max-width: 80em;
        padding: 0 2em;
        position: relative;
    }
}

@media only screen and (max-width: 475px) {
    /* For mobile phones: */
    [class*="overlay-header"] {
        width: 300px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        max-width: 80em;
        padding: 0 2em;
        position: relative;
    }
}

@media only screen and (max-width: 720px) {
    /* For mobile phones: */
    [class*="overlay-heading"] {
        width: 300px;
        margin: auto;
        display: flex;
        justify-content: left;
        flex-direction: column;
        text-align: center;
        max-width: 80em;
        padding: 0 2em;
    }
}

@media only screen and (max-width: 475px) {
    /* For mobile phones: */
    [class*="overlay-heading"] {
        width: 200px;
        margin: -05px;
        display: flex;
        justify-content: left;
        flex-direction: column;
        text-align: center;
        max-width: 80em;
    }
}

.overlay-header {
  max width: 80em;
  margin: 0 auto;
  text-align: left;
  padding: 0 2em;
  position: relative;
}

.overlay-heading {
  margin-top: 0px;
  margin-bottom: 26px;
}

.overlay-message {
  font-size: 28px;
}
