.quotes-container {
  position: relative;
  transform: none;
  left: 0;
  max-width: 76em;
  margin: 0 auto;
}

@media only screen and (max-width: 720px) {
  [class*="quotes-container"] {
      width: 45em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      position: relative;
      margin-top: -100px;
      margin-left: 165px;
  }
}

@media only screen and (max-width: 485px) {
  [class*="quotes-container"] {
      width: 45em;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      position: relative;
      margin-top: -75px;
      margin-left: -0px;
  }
}

.customer-blockquote {
  padding: 24px;
  width: calc(50% - 55px);
  display: inline-block;
  border-left: 2px solid rgba(0,0,0,0.05);
  font-family: 'Poppins', sans-serif;
  font-size: 1.267em;
  color: #3d4351;
  line-height: 1.6em;
}

.quotes-container > .customer-blockquote:last-child{
  border-right: 2px solid rgba(0,0,0,0.05);
}

.customer-testimonial::before {
  content: "";
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  top: 0;
  margin-bottom: 0.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../public/greenquotes.png)
}

.customer-testimonial {
  font-style: italic;
  margin-bottom: 32px;
  margin-top: 0px;
}

.inner img {
  height: 42px;
  width: 42px;
  margin-right: 16px;
  position: relative;
  bottom: -15px;
  border-radius: 50%;
}

.inner cite {
  text-transform: uppercase;
  font-style: normal;
  color: #82868f;
}
