.more-triangle {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid ;
  max-width: 0px;
  max-height: 0px;
  position: relative;
  display: inline;
  top: 2px;
  z-index: 15;
  margin-left: 3px;
}
