
.hamburger-menu-toggle .hamburger-bar:nth-child( 2 ) {
  transform: translateY( -8px );
}

.hamburger-menu-toggle:hover .hamburger-bar {
  cursor: pointer;
  opacity: 1;
}

.hamburger-menu-toggle .hamburger-bar:first-child {
  transform: translateY( -16px );
}

.hamburger-bar {
  background-color: white;
  opacity: .9;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  position: absolute;
  top: 38px;
  right: 12px;
  transition: all 0.5s;
  visibility: hidden;
}

.hamburger-menu-toggle {
  height: 100%;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.hamburger-bar:hover {
  cursor: pointer;
  opacity: 1;
}

@media only screen and ( max-width: 860px ) {
  .hamburger-bar {
    visibility: visible;
  }
}
