.landing-navigation {
  z-index: 1;
  overflow: hidden;
}

.landing-navigation a {
  text-decoration: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.landing-navigation-menu a {
  transition: color 0.3s ease;
  font-size: .8em;
  font-weight: 400;
}

.landing-navigation-menu a:not( :last-child ) {
  margin-left: 15px;
}

.landing-navigation-menu .landing-navigation-grey {
  color: #9da0a7;
}

.landing-navigation-menu .landing-navigation-grey:hover, .login-navigation {
  color: #fff;
}

.navigation-container {
  padding-left: 40px;
  padding-right: 40px;
  background-color: #3d4351;
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 14px 0 14px 0;
  height: 36px;
  color: #fff;
}

.logo-green-square {
  background-color: #8dc63f;
  height: 33px;
  width: 33px;
  min-width: 33px;
  display: flex;
  align-items: center;
}

.logo-green-square div {
  font-size: 2em;
  color: #3d4351;
  font-weight: 100;
  position:absolute;
  left:46px;
  top:9px;
}

.logo img {
  max-height: 15px;
  margin-left: 10px;
}

@media only screen and ( max-width: 1100px ) {
  .logo img {
    display: none;
  }
}

@media only screen and ( max-width: 860px ) {
  .logo img {
    display: initial;
  }
}

.login-navigation:hover {
  color: #ccc;
}

.landing-navigation-right {
  flex-grow: 1;
}

.landing-navigation-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  max-height: 64px;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and ( max-width: 860px ) {
  .landing-navigation-right {
    visibility: hidden;
  }
}

.landing-navigation-menu .flat-button {
  color: #fff;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-right: 0px;
}

.landing-navigation-menu .trial-input {
  border-color: rgba( 61, 67, 87, 0.1 );
  background-color: #535b6e;
  transition: background-color 0.3s ease;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  text-indent: 3px;
  border: 0;
  font-size: 14px;
  width: 150px;
  height: 14px;
  padding: 12px;
  padding-top: 11px;
  padding-bottom: 13px;
}

.landing-navigation-menu .trial-input:hover {
  background-color: #5d667c;
}

.demonstration-button {
  color: #8dc63f;
}

.login-navigation {
  color: #fff !important;
}

.demonstration-button {
  color: #8dc63f !important;
  margin-right: 10px;
}

.demonstration-button:hover {
  color: #76a535;
}

.navigation-trial-button {
  transition: background-color 0.3s ease;
  background-color: #8dc63f;
  border-radius: 0 4px 4px 0;
  max-height: 38px;
  padding: 8px 10px;
  margin-left: 0;
  color: #fff;
  border: none;
}

.navigation-trial-button:hover {
  background-color: #76a535;
}

.more-triangle {
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid ;
  max-width: 0px;
  max-height: 0px;
  position: relative;
  display: inline;
  top: 2px;
  z-index: 15;
  margin-left: 3px;
}
